# CMFGEN

Download and extract atomic data from the [CMFGEN website](http://kookaburra.phyast.pitt.edu/hillier/web/CMFGEN.htm).

In [6]:
CMFGEN_DIR = '/home/kartik/Downloads/atomic'

## Energy levels

Let's start with a quick example on how to parse energy levels from `osc` files.

In [7]:
import os
from carsus.io.cmfgen import CMFGENEnergyLevelsParser

In [8]:
si2_energy_levels = CMFGENEnergyLevelsParser(os.path.join(CMFGEN_DIR, 'SIL/II/16sep15/si2_osc_kurucz'))

The resulting table is stored as a `DataFrame` in the `base` attribute.

In [9]:
si2_energy_levels.base

,Configuration,g,E(cm^-1),10^15 Hz,eV,Lam(A),ID,ARAD,C4,C6
0,3s2_3p_2Po[1/2],2.0,0.00,3.95241,16.346,758.5,1,0.000000e+00,-5.290000e-17,7.470000e-33
1,3s2_3p_2Po[3/2],4.0,287.24,3.94380,16.310,760.2,2,0.000000e+00,-5.300000e-17,7.460000e-33
2,3s_3p2_4Pe[1/2],2.0,42824.29,2.66857,11.036,1123.0,3,1.222000e+04,-5.340000e-17,7.490000e-33
3,3s_3p2_4Pe[3/2],4.0,42932.62,2.66532,11.023,1125.0,4,2.110000e+03,-5.340000e-17,7.490000e-33
4,3s_3p2_4Pe[5/2],6.0,43107.91,2.66007,11.001,1127.0,5,3.246000e+03,-5.350000e-17,7.490000e-33
...,...,...,...,...,...,...,...,...,...,...
152,3s_3p(3Po)4p_4Pe[3/2],4.0,134079.00,-0.06718,-0.278,-44630.0,153,1.159000e+08,-1.500000e-16,3.080000e-32
153,3s_3p(3Po)4p_4Pe[5/2],6.0,134213.63,-0.07122,-0.295,-42100.0,154,1.167000e+08,-1.500000e-16,3.090000e-32
154,3s_3p(3Po)4p_4Se[3/2],4.0,134905.28,-0.09195,-0.380,-32600.0,155,9.275000e+07,-9.750000e-17,2.770000e-32
155,3p3_2Do[5/2],6.0,135297.30,-0.10370,-0.429,-28910.0,156,2.437000e+09,4.200000e-17,1.450000e-32
156,3p3_2Do[3/2],4.0,135303.50,-0.10389,-0.430,-28860.0,157,2.438000e+09,1.390000e-17,1.460000e-32

Header information is saved in the `meta` attribute.

In [10]:
si2_energy_levels.meta

{'Date': '16-Sep-2015',
 'Format date': '17-Jun-2014',
 'Number of energy levels': '157',
 'Ionization energy': '131838.1400',
 'Screened nuclear charge': '2.0',
 'Number of transitions': '4196'}

## Oscillator strengths

In [11]:
from carsus.io.cmfgen import CMFGENOscillatorStrengthsParser

In [12]:
si2_oscillator_strengths = CMFGENOscillatorStrengthsParser(os.path.join(CMFGEN_DIR, 'SIL/II/16sep15/si2_osc_kurucz'))

In [13]:
si2_oscillator_strengths.base

,State A,State B,f,A,Lam(A),i,j,Lam(obs),% Acc
0,3s2_3p_2Po[1/2],3s_3p2_4Pe[1/2],5.741000e-06,7.023000e+03,2335.123,1,3,NaN,NaN
1,3s2_3p_2Po[1/2],3s_3p2_4Pe[3/2],3.564000e-08,2.191000e+01,2329.231,1,4,NaN,NaN
2,3s2_3p_2Po[1/2],3s_3p2_2De[3/2],7.638000e-04,7.793000e+05,1808.013,1,6,NaN,NaN
3,3s2_3p_2Po[1/2],3s2_4s_2Se[1/2],1.279000e-01,3.661000e+08,1526.707,1,8,NaN,NaN
4,3s2_3p_2Po[1/2],3s_3p2_2Se[1/2],1.062000e-01,4.162000e+08,1304.370,1,9,NaN,NaN
...,...,...,...,...,...,...,...,...,...
4191,3s_3p(3Po)4p_4Pe[3/2],3p3_2Do[3/2],3.250000e-06,3.251000e+00,81665.986,153,157,NaN,NaN
4192,3s_3p(3Po)4p_4Pe[5/2],3p3_2Do[5/2],6.605000e-07,5.173000e-01,92279.015,154,156,NaN,NaN
4193,3s_3p(3Po)4p_4Pe[5/2],3p3_2Do[3/2],4.129000e-08,4.907000e-02,91754.062,154,157,NaN,NaN
4194,3s_3p(3Po)4p_4Se[3/2],3p3_2Do[5/2],7.673000e-06,5.243000e-01,255100.000,155,156,NaN,NaN
4195,3s_3p(3Po)4p_4Se[3/2],3p3_2Do[3/2],6.744000e-07,7.134000e-02,251100.000,155,157,NaN,NaN

In [14]:
si2_oscillator_strengths.meta

{'Date': '16-Sep-2015',
 'Format date': '17-Jun-2014',
 'Number of energy levels': '157',
 'Ionization energy': '131838.1400',
 'Screened nuclear charge': '2.0',
 'Number of transitions': '4196'}

## Collisional strengths

In [15]:
from carsus.io.cmfgen import CMFGENCollisionalStrengthsParser

In [16]:
si2_collisional_strengths = CMFGENCollisionalStrengthsParser(os.path.join(CMFGEN_DIR, 'SIL/II/16sep15/si2_col'))

In [17]:
si2_collisional_strengths.base

,State A,State B,2.5e+03,4.e+03,6.3e+03,1.e+04,1.26e+04,1.58e+04,2.e+04,2.51e+04,3.16e+04,4.e+04,6.31e+04,1.e+05,1.585e+05,2.511e+05
0,3s2_3p_2Po[1/2],3s2_3p_2Po[3/2],6.310,6.230,6.150,6.090,6.060,6.020,5.970,5.890,5.770,5.580,5.050,4.360,3.670,3.090
1,3s2_3p_2Po[1/2],3s_3p2_4Pe[1/2],0.466,0.506,0.518,0.515,0.511,0.507,0.502,0.496,0.487,0.476,0.443,0.399,0.344,0.284
2,3s2_3p_2Po[1/2],3s_3p2_4Pe[3/2],0.812,0.818,0.807,0.789,0.782,0.775,0.769,0.761,0.749,0.733,0.685,0.615,0.528,0.435
3,3s2_3p_2Po[1/2],3s_3p2_4Pe[5/2],0.641,0.623,0.607,0.595,0.592,0.591,0.589,0.585,0.577,0.563,0.519,0.458,0.388,0.313
4,3s2_3p_2Po[1/2],3s_3p2_2De[3/2],2.690,2.760,2.780,2.740,2.690,2.610,2.500,2.370,2.220,2.060,1.730,1.430,1.170,0.954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,3s2_5d_2De[3/2],3s2_6p_2Po[1/2],156.000,174.000,203.000,247.000,275.000,304.000,333.000,362.000,388.000,410.000,439.000,443.000,422.000,380.000
402,3s2_5d_2De[3/2],3s2_6p_2Po[3/2],55.800,61.200,69.300,80.700,87.700,95.100,103.000,110.000,117.000,122.000,129.000,130.000,124.000,111.000
403,3s2_5d_2De[5/2],3s2_6p_2Po[1/2],21.300,23.200,25.200,27.600,28.900,30.300,31.700,33.100,34.300,35.300,36.400,36.100,34.200,31.000
404,3s2_5d_2De[5/2],3s2_6p_2Po[3/2],269.000,308.000,368.000,454.000,506.000,562.000,618.000,673.000,723.000,766.000,822.000,832.000,794.000,715.000
405,3s2_6p_2Po[1/2],3s2_6p_2Po[3/2],35.800,38.700,42.800,48.500,52.200,56.300,60.800,65.500,70.500,75.400,84.100,89.900,91.000,87.100

In [18]:
si2_collisional_strengths.meta

{'Number of transitions': '406',
 'Number of T values OMEGA tabulated at': '14',
 'Scaling factor for OMEGA (non-FILE values)': '1.0',
 'Value for OMEGA if f=0': '0.1'}

## Photoionization cross-sections

In [19]:
from carsus.io.cmfgen import CMFGENPhotoionizationCrossSectionParser

In [20]:
si2_cross_sections = CMFGENPhotoionizationCrossSectionParser(os.path.join(CMFGEN_DIR, 'SIL/II/16sep15/phot_nahar_A'))

[               py.warnings][WARNING] - /home/kartik/anaconda3/envs/carsus/lib/python3.6/site-packages/carsus-0.1.dev638-py3.6.egg/carsus/io/cmfgen/base.py:420: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df._meta = meta
 (warnings.py:99)

The `base` attribute is a list with many dataframes.

In [21]:
len(si2_cross_sections.base)

93

In [22]:
si2_cross_sections.base[0]

         Energy     Sigma
0      1.000000  1.414000
1      1.000333  1.405000
2      1.000666  1.397000
3      1.000999  1.388000
4      1.001332  1.379000
...         ...       ...
1482  17.034180  0.001255
1483  18.825680  0.000929
1484  20.805590  0.000689
1485  22.993730  0.000510
1486  25.412010  0.000378

[1487 rows x 2 columns]

## Batch convert files to HDF5

To convert multiple CMFGEN files to HDF5 import the `hdf_dump` function.

In [23]:
from carsus.io.cmfgen import hdf_dump

Required parameters are `cmfgen_dir`, `patterns` and `parser`, while `chunk_size` and `ignore_patterns` are optional.

In [24]:
chunk_size = 10
osc_patterns = ['osc', 'OSC', 'Osc']
ignore_patterns = ['ERROR_CHK']

In [25]:
hdf_dump(CMFGEN_DIR, osc_patterns, CMFGENEnergyLevelsParser(), chunk_size, ignore_patterns)

[   carsus.io.cmfgen.hdfgen][INFO] - 311 files selected. (hdfgen.py:33)
[   carsus.io.cmfgen.hdfgen][INFO] - Finished. (hdfgen.py:58)